<div class="product">
  <div class="productFields" *ngIf="!edit">
    <p>Name : {{ product?.name | uppercase }}</p>
    <p>Price : {{ product?.price | currency: "NIS" }}</p>
    <p>Shelf Life : {{ product?.shelf_life | date: "dd/MM/yyyy" }}</p>
  </div>

  <div *ngIf="edit">
    <label
      >Name :
      <input type="text" [value]="product?.name" [(ngModel)]="name" />
    </label>
    <label
      >Price :
      <input type="number" [value]="product?.price" [(ngModel)]="price" />
    </label>
    <label
      >Shelf Life :
      <input
        type="date"
        [value]="product?.shelf_life"
        [(ngModel)]="shelf_life"
      />
    </label>
  </div>

  <button class="editBtn" (click)="editProduct()">
    {{ editAndSaveBtn ? "Save" : "Edit" }}
  </button>
  <button class="deleteBtn" (click)="deleteProduct()">Delete</button>
</div>
