.product {
  width: 200px;
  border: 2px solid gray;
  padding: 2px;
  margin: 3px;
  color: blue;
  text-align: center;
}
.deleteBtn,
.editBtn {
  margin: 4px;
  padding: 2px;
  background-color: cornflowerblue;
}
.hide {
  display: none;
}
.show {
  display: block;
}
